img{
    width: auto;
    height: auto;
    margin: 3px;
    max-width: 90vw;
    max-height: 35vh;
}

.container{/*cuidado con esto*/
    height: 100%;
}   

.row{

}

.layer{
    align-items: center;
    min-height: 33vh;
    width: auto;
}

.layer-test{
    align-items: center;
    height: 35vh;
    width: auto;
}

.movil{
      display: none;
  }

@media (pointer: coarse) {
  .movil{
      display: flex;
  }
}