<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container px-4">
          <a class="navbar-brand" href="#page-top">TAI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- Header-->
  <header class="bg-primary bg-gradient text-white">
      <div class="container px-4 text-center">
          <h1 class="fw-bolder">Test de Asociación Implícita</h1>
          <p class="lead">Averigua si existen en ti asociaciones implícitas entre dos conceptos</p>
          <a class="btn btn-lg btn-light" [routerLink]="['/tai']">Empezar</a>
      </div>
  </header>
  <!-- About section-->
  <section id="about">
      <div class="container px-4">
          <div class="row gx-4 justify-content-center">
              <div class="col-lg-8">
                    <h2>¿Qué es un test de asociación implícita?</h2>
                    <p class="lead">Es una medida dentro de la psicología social diseñada para detectar la fuerza de asociación automática de una persona entre las representaciones mentales de los objetos (conceptos) en la memoria. </p>
                    <P class="lead">Permiten analizar prejuicios, sesgos y preferencias no conscientes hacia razas, género o religiones. </P>
              </div>
          </div>
      </div>
  </section>
  <!-- Services section-->
  <section class="bg-light" id="services">
      <div class="container px-4">
          <div class="row gx-4 justify-content-center">
              <div class="col-lg-8">
                  <h2>Objetivo de este test</h2>
                  <P class="lead">En este test se tratará de analizar las asociaciones implícitas de quien realiza el test sobre la visión de marcas. </P>
                </div>
          </div>
      </div>
  </section>
  <!-- Contact section-->
  <section id="contact">
      <div class="container px-4">
          <div class="row gx-4 justify-content-center">
              <div class="col-lg-8">
                    <h2>Aviso</h2>
                    <!--<p class="lead">El objetivo de esta página es exclusivamente mostrar cómo se lleva a cabo un IAT, ofreciendo la posibilidad de realizar uno y entender como son los resultados obtenidos.</p>-->
                    <p class="lead">No aseguramos la validez científica de los resultados ofrecidos de esta prueba en concreto.</p>
              </div>
          </div>
      </div>
  </section>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container px-4">
        <p class="m-0 text-center text-white">
            Sociograph · Copyright All Rights Reserved © 2024
        </p>
    </div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>


</body>